<div class="mk-top-info-wrapper">
    <div class="mk-top-err">
        <span class="mk-span">
            <% if(typeof(error) !== 'undefined' ) { %>
                <%= "Error" + ": " + error.message %>
            <% } %>
        </span>
    </div>
    <div class="mk-top-info">
        <span class="mk-span"><a href=<%=PathDict.GET.PROFILE%>>Profile</a></span>
        <span class="mk-span"><a href=<%=PathDict.GET.LOGIN%>>Login</a></span>
        <span class="mk-span"><a href=<%=PathDict.GET.SIGN_UP%>>Sign Up</a></span>
        <span class="mk-span"><a href=<%=PathDict.GET.LOGOUT%>>Log Out</a></span>
    </div>
</div>
<div class="mk-top-nav-wrapper">
    <nav class="mk-top-nav navbar navbar-expand-md ">
        <a>
            <img class="mk-logo navbar-brand" src="/assets/images/fandango-logo.svg">
        </a>
        <form class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2" type="search" placeholder="Movie" aria-label="Search">
            <button class="btn btn-success my-2 my-sm-0" type="submit">Search</button>
        </form>

        <div class="collapse navbar-collapse">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a href=<%=PathDict.GET.ADD_HALL%> class="nav-link mk-nav-links">ADD HALL</a>
                </li>
                <li class="nav-item">
                    <a href=<%=PathDict.GET.ADD_SCHEDULE%> class="nav-link mk-nav-links">ADD SCHEDULE</a>
                </li>
                <li class="nav-item">
                    <a href=<%=PathDict.GET.EDIT_SCHEDULE%> class="nav-link mk-nav-links">EDIT SCHEDULE</a>
                </li>
                <li class="nav-item">
                    <a href=<%=PathDict.GET.MOVIE_LIST%> class="nav-link mk-nav-links">MOVIES</a>
                </li>
                <li class="nav-item">
                    <a href=<%=PathDict.GET.HALL_LIST%> class="nav-link mk-nav-links">HALLS</a>
                </li>
            </ul>
        </div>
    </nav>
</div>