<div class="mk-top-info-wrapper">
    <div class="mk-top-err">
        <span class="mk-span">
            <% if(typeof(error) !== 'undefined' ) { %>
                <%= "Error" + ": " + error.message %>
            <% } %>
        </span>
    </div>
    <div class="mk-top-info">
        <% switch (userInfo.role) {
             case Roles.USER: %>
                <span class="mk-span mk-text-mute">Role: User</span>
                <% break; %>
            <% case Roles.HAD: %>
                <span class="mk-span mk-text-mute">Role: Hall Admin</span>
                <% break; %>
            <% case Roles.SAD: %>
                <span class="mk-span mk-text-mute">Role: Super Admin</span>
                <% break; %>
        <% }%>
        <% if (typeof(userInfo.userId) !== 'undefined') { %>
            <span class="mk-span"><a href=<%=PathDict.GET.PROFILE%>>Profile</a></span>
            <span class="mk-span"><a href=<%=PathDict.GET.LOGOUT%>>Log Out</a></span>
        <% } else { %>
            <span class="mk-span"><a href=<%=PathDict.GET.LOGIN%>>Login</a></span>
            <span class="mk-span"><a href=<%=PathDict.GET.SIGN_UP%>>Sign Up</a></span>
        <% }%>        
    </div>
</div>
<div class="mk-top-nav-wrapper">
    <nav class="mk-top-nav navbar navbar-expand-md ">
        <a>
            <img class="mk-logo navbar-brand" src="/assets/images/fandango-logo.svg">
        </a>
         <% include ./header-search.ejs %>

        <div class="collapse navbar-collapse">
            <ul class="navbar-nav ml-auto">
                <% if (userInfo.role >= Roles.SAD) { %>
                    <li class="nav-item dropdown mk-nav-links">
                        <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#">HALL</a>
                        <div class="dropdown-menu">
                            <a class="dropdown-item" href=<%=PathDict.GET.ADD_HALL%>>ADD HALL</a>
                        </div>
                    </li>
                <% } %>
                <% if (userInfo.role >= Roles.HAD) { %>
                    <li class="nav-item dropdown mk-nav-links">
                        <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#">MOVIE</a>
                        <div class="dropdown-menu">
                            <a class="dropdown-item" href=<%=PathDict.GET.ADD_MOVIE%>>ADD MOVIE</a>
                        </div>
                    </li>
                <% } %>
                <% if (userInfo.role === Roles.SAD) { %>
                    <li class="nav-item">
                        <a href=<%=PathDict.GET.ADMIN_ORDERS%> class="nav-link mk-nav-links">ORDERS</a>
                    </li>
                <% } %>
                <% if (userInfo.role === Roles.SAD) { %>
                    <li class="nav-item">
                        <a href=<%=PathDict.GET.ADMIN_DASHBOARD%> class="nav-link mk-nav-links">DASHBOARD</a>
                    </li>
                <% } %>
                <% if (userInfo.role === Roles.USER) { %>
                    <li class="nav-item">
                        <a href=<%=PathDict.GET.USER_ORDERS%> class="nav-link mk-nav-links">MY ORDERS</a>
                    </li>
                <% } %>
                <% if (userInfo.role <= Roles.SAD) { %>
                    <li class="nav-item">
                        <a href=<%=PathDict.GET.MOVIE_LIST%> class="nav-link mk-nav-links">MOVIES</a>
                    </li>
                    <li class="nav-item">
                        <a href=<%=PathDict.GET.MULTI_TYPE_SEARCH + "?searchType=ZIPCODE"%> class="nav-link mk-nav-links">SCHEDULES + TICKETS</a>
                    </li>
                <% } %>
                
            </ul>
        </div>
    </nav>
</div>