<% var labelDict = {"MOVIE": "Movie", "ZIPCODE": "Zip Code", "CITY": "City"};%>
<% var retainedSearchType = typeof(searchType) !== "undefined" ? searchType : "MOVIE" //set movie as default search type %>
<form method="GET" action=<%=PathDict.GET.MULTI_TYPE_SEARCH%> class="form-inline my-2 my-lg-0">
	<div class="input-group">
		<div class="input-group-prepend">
			<button class="btn btn-outline-secondary dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" id="headerSearchLabel"><%= labelDict[retainedSearchType]%></button>
			<div class="dropdown-menu">
				<span class="dropdown-item mk-header-search-options" searchType="MOVIE"><%= labelDict["MOVIE"]%></span>
				<span class="dropdown-item mk-header-search-options" searchType="ZIPCODE"><%= labelDict["ZIPCODE"]%></span>
				<span class="dropdown-item mk-header-search-options" searchType="CITY"><%= labelDict["CITY"]%></span>
			</div>
		</div>
		<input type="search" class="form-control mr-sm-2" placeholder="Search..." name="searchValue" required value="<%= typeof(searchValue) !== "undefined" ? searchValue : ""%>">
		<input type="hidden" id="inputHeaderSearchType" name="searchType" value=<%=retainedSearchType%>>
	</div>
    <button class="btn btn-success my-2 my-sm-0" type="submit">GO</button>
</form>