<div class="mk-top-info-wrapper">
    <div class="mk-top-err">
        <span class="mk-span">
            <% if(typeof(error) !== 'undefined' ) { %>
                <%= "Error" + ": " + error.message %>
            <% } %>
        </span>
    </div>
    <div class="mk-top-info">
        <% if (typeof(userInfo.userId) !== 'undefined') { %>
            <span class="mk-span"><a href=<%=PathDict.GET.PROFILE%>>Profile</a></span>
            <span class="mk-span"><a href=<%=PathDict.GET.LOGOUT%>>Log Out</a></span>
        <% } else { %>
            <span class="mk-span"><a href=<%=PathDict.GET.LOGIN%>>Login</a></span>
            <span class="mk-span"><a href=<%=PathDict.GET.SIGN_UP%>>Sign Up</a></span>
        <% }%>        
    </div>
</div>
<div class="mk-top-nav-wrapper">
    <nav class="mk-top-nav navbar navbar-expand-md ">
        <a>
            <img class="mk-logo navbar-brand" src="/assets/images/fandango-logo.svg">
        </a>
        <form class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2" type="search" placeholder="Movie" aria-label="Search">
            <button class="btn btn-success my-2 my-sm-0" type="submit">Search</button>
        </form>

        <div class="collapse navbar-collapse">
            <ul class="navbar-nav ml-auto">
                <% if (userInfo.role >= Roles.SAD) { %>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#">HALL</a>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" href=<%=PathDict.GET.ADD_HALL%>>ADD HALL</a>
                        <a class="dropdown-item" href=<%=PathDict.GET.EDIT_HALL%>>EDIT HALL</a>
                    </div>
                </li>
                <% } %>
                <% if (userInfo.role >= Roles.HAD) { %>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#">MOVIE</a>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" href=<%=PathDict.GET.ADD_MOVIE%>>ADD MOVIE</a>
                        <a class="dropdown-item" href=<%=PathDict.GET.EDIT_MOVIE%>>EDIT MOVIE</a>
                    </div>
                </li>
                <% } %>
                <% if (userInfo.role === Roles.HAD) { %>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#">SCHEDULE</a>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" href=<%=PathDict.GET.ADD_SCHEDULE%>>ADD SCHEDULE</a>
                        <a class="dropdown-item" href=<%=PathDict.GET.EDIT_SCHEDULE%>>EDIT SCHEDULE</a>
                    </div>
                </li>
                <% } %>
                <li class="nav-item">
                    <a href=<%=PathDict.GET.MOVIE_LIST%> class="nav-link mk-nav-links">MOVIES</a>
                </li>
                <li class="nav-item">
                    <a href=<%=PathDict.GET.HALL_LIST%> class="nav-link mk-nav-links">SCHEDULES + TICKETS</a>
                </li>
            </ul>
        </div>
    </nav>
</div>