<!DOCTYPE html>
<html>
    <head>
        <% include ./meta-resources.ejs %>
        <link rel='stylesheet' href='/stylesheets/pg-movie-list.css' />

    </head>
    <body>
        <% include ./header.ejs %>
        
        <div class="container mt-4">
            <div class="row">
                <h2 class="mk-sub-title"><%=movie.movieTitle + " REVIEWS "%></h2>
            </div>
            <% include ./movie-dt-subnav.ejs %>
            
        </div>
        <div class="container mt-4">
            <div class="row">
                <% include ./movie-dt-info.ejs %>
                <div class="col-8">
                    <% if(reviews.length === 0) { %>
                        <h3>NO REVIEWS FOR NOW : )</h3>
                    <% } else { %>
                        <ul class="mk-movie-review-list">
                            <% for(let i = 0; i < reviews.length; i++) { %>
                                <% let review = reviews[i]; %>
                                <li>
                                    <p class="mk-movie-review-rating">
                                        <% for(let j = 0; j < 5; j++){ %>
                                            <% if(j < Math.round(review.stars)){ %>
                                                <span class="fa fa-star mk-star-filled"></span>
                                            <% } else{%>
                                                <span class="fa fa-star"></span>
                                            <% } %>
                                        <% } %>
                                    </p>
                                    <h4 class="mk-movie-review-title"><%= review.reviewTitle%></h4>
                                    <p class="mk-movie-review-info">
                                        <span class="mk-movie-review-by">BY <%= review.user.firstName + " " + review.user.lastName%></span><span class="mk-movie-review-date"> WRITTEN ON <%= review.postDate%> </span>
                                    </p>
                                    <p class="mk-movie-review-content"><%= review.comment%></p>                    
                                </li>
                            <% } %>
                        </ul>
                    <% } %>
                </div>
            </div>
            
        </div>

        <% include ./lib-url.ejs %>
    </body>
</html>
