<!DOCTYPE html>
<html>
    <head>
        <% include ./meta-resources.ejs %>
        <link rel='stylesheet' href='/stylesheets/pg-movie-list.css' />
        <link rel='stylesheet' href='/stylesheets/order-list.css' />
    </head>
    <body>
        <% include ./header.ejs %>
        
        <div class="container mt-4">
            <div class="row">
                <h2 class="mk-sub-title"><%=movie.movieTitle + " ORDERS "%></h2>
            </div>
            <% include ./movie-dt-subnav.ejs %>
            
        </div>
        <div class="container mt-4">
            <div class="row">
                <% include ./movie-dt-info.ejs %>
                <div class="col-8">
                    <% if(movieOrders.length === 0) {%>
                        <h3>NO ORDERS FOR NOW : )</h3>
                    <% } else {%>
                        <div class="mk-order-list-wrapper">
                            <ul class="mk-order-list">
                                <% for(let i = 0 ; i < movieOrders.length; i++) {%>
                                <% var order = movieOrders[i]; %>
                                <% var orderMovie = order.movie; %>
                                <% var orderHall = order.theater; %>
                                <% var orderSchedule = order.schedule; %>
                                <% var orderUser = order.user; %>
                                    <li class="mb-4">
                                        <div class="mk-order-schedule-info-wrapper">
                                            <div class="mk-order-schedule-hall-info pl-3">
                                                <h3><a href="<%= PathDict.GET.HALL_DETAILS + "?id=" + orderHall.theaterId%>"><%= orderHall.theaterName%></a></h3>
                                                <span class="mk-text-mute"><%= orderHall.street + ", " + orderHall.city + ", " + orderHall.state + ", " + orderHall.zipcode%></span>
                                                <% if(userInfo.role === Roles.HAD) {%>
                                                    <a href="<%= `${PathDict.GET.CANCEL_ORDER}?orderID=${order.orderId}&userID=${orderUser.userId}`%>"><span class="mk-order-schedule-cancel-link mr-3">Cancel</span></a>
                                                <% }%>
                                            </div>
                                            <div class="mk-order-schedule-dt-info pl-3">
                                                <p class="mk-order-schedule-dt-line mt-4">
                                                    <span class="mk-text-mute mk-span">SHOW TIME:</span>
                                                    <span class="mk-span"><%= orderSchedule.scheduleDate + " " +orderSchedule.showtime%></span>
                                                    <span class="mk-text-mute mk-span">FORMAT: </span>
                                                    <span class="mk-span"><%= orderSchedule.format%></span>
                                                </p>
                                                <p class="mk-order-schedule-dt-line">
                                                    <span class="mk-text-mute mk-span">TICKET NUMBER:</span>
                                                    <span class="mk-span"><%= order.ticketNum%></span>
                                                    <span class="mk-text-mute mk-span">PRICE (TOTAL): </span>
                                                    <span class="mk-span"><%= order.grandTotal%></span>
                                                </p>
                                                <p class="mk-order-schedule-dt-line">
                                                    <span class="mk-text-mute mk-span">PURCHASED AT:</span>
                                                    <span class="mk-span"><%= order.orderTs%> </span>
                                                    <span class="mk-text-mute mk-span">BY: </span>
                                                    <span class="mk-span"><%=orderUser.firstName + " " + orderUser.lastName%></span>
                                                </p>    
                                            </div>
                                        </div>
                                    </li>

                                <% }%>
                            </ul>
                        </div>
                    <% }%>
                </div>
            </div>
        </div>

        <% include ./lib-url.ejs %>
    </body>
</html>
