<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel='stylesheet' href='/stylesheets/styles.css' />
    <link rel='stylesheet' href='/stylesheets/components.css' />
    <link rel='stylesheet' href='/stylesheets/top-nav.css' />
    <link rel='stylesheet' href='/stylesheets/components-lxr.css' />
    <link rel='stylesheet' href='/stylesheets/styles-lxr.css' />
</head>
<body>
<% include ./header.ejs %>

<div class="mk-addmovie-wrapper">
    <div>
        <span id="mk-add-movie-title"><%= movie_option %> Movie</span>
    </div>

    <% movieFormFields.forEach(function(field) { %>
    <div class="form-group">
        <label for="<%= field %>"><%= field %></label>
        <input class="form-control form-control-sm input-sm col-sm-6" placeholder="input <%= field.toLowerCase() %>"/>
    </div>
    <% }); %>

    <div class="form-group">
        <label>MPAA ID</label>
        <select class="form-control form-control-sm input-sm col-sm-4">
            <option value="0">G</option>
            <option value="1">PG</option>
            <option value="2">PG-13</option>
            <option value="3">R</option>
            <option value="4">NC-17</option>
        </select>
    </div>

    <div class="form-group">
        <label>RELEASE DATE</label>
        <input class="form-control form-control-sm input-sm col-sm-4" type="date"/>
    </div>

    <div class="form-group">
        <a href=<%=PathDict.GET.MOVIE_LIST%>>
            <% if (movie_option === 'Add') { %>
                <% include ./add-button.ejs %>
            <% } else { %>
                <% include ./update-button.ejs %>
            <% } %>
        </a>
    </div>
</div>

<% include ./lib-url.ejs %>
<script src="/scripts/add-movie.js"></script>
</body>
</html>
