<!DOCTYPE html>
<html>
<head>
    <% include ./meta-resources.ejs %>
</head>
<body>
<% include ./header.ejs %>

<form   <% if (schedule_option === 'Add') { %>
        action="<%= PathDict.POST.ADD_SCHEDULE%>"
        <% } else { %>
        action="<%= PathDict.POST.EDIT_SCHEDULE%>"
        <% } %>
        method="post" class="mk-addmovie-wrapper">
    <div>
        <span id="mk-add-movie-title"><%= schedule_option %> Movie Schedule</span>
    </div>
        <% if (schedule_option === 'Edit') { %>
        <div class="form-group">
            <input class="form-control form-control-sm input-sm"
                   type="hidden"
                   name="scheduleId"
                   value="<%= scheduleId %>"
            />
        </div>
        <% } %>

    <% if (schedule_option === 'Add') { %>
        <div class="form-group">
            <input class="form-control form-control-sm input-sm "
                   placeholder="input movie ID"
                   type="hidden"
                   pattern="[0-9]*"
                   name="movieId"
                   value="<%=movieId%>"
                    <% if (schedule_option === 'Add') { %>
                   required
                    <% } %>
            />
        </div>

        <div class="form-group">
            <label >THEATRE ID</label>
            <input class="form-control form-control-sm input-sm"
                   placeholder="input theatre ID"
                   type="text"
                   pattern="[0-9]*"
                   name="theaterId"
                    <% if (schedule_option === 'Add') { %>
                   required
                    <% } %>
            />
        </div>


        <div class="form-group">
            <label>FORMAT</label>
            <select class="form-control form-control-sm input-sm" name="formatId">
                <% formats.forEach(function (format) { %>
                <option value="<%= format.formatId %>"><%= format.formatName%></option>
                <% })%>
            </select>
        </div>
    <% } %>

        <div class="form-group">
            <label>SCHEDULE DATE</label>
            <input class="form-control form-control-sm input-sm" type="date"
                    <% if (schedule_option === 'Add') { %>
                   required
                    <% } %>
                   name="scheduleDate"
            />
        </div>

        <div class="form-group">
            <label>SHOW TIME</label>
            <input class="form-control form-control-sm input-sm "
                   type="time"
                    <% if (schedule_option === 'Add') { %>
                   required
                    <% } %>
                   name="showtime"
            />
        </div>

        <div class="form-group">
            <label >TOTAL SEATS</label>
            <input class="form-control form-control-sm input-sm "
                   type="text"
                   pattern="[0-9]*"
                   name="totSeats"
                    <% if (schedule_option === 'Add') { %>
                   required
                    <% } %>
            />
        </div>

        <div class="form-group">
            <label >AVAILABLE SEATS</label>
            <input class="form-control form-control-sm input-sm "
                   type="text"
                   pattern="[0-9]*"
                   name="availSeats"
                    <% if (schedule_option === 'Add') { %>
                   required
                    <% } %>
            />
        </div>

        <div class="form-group">
            <label >PRICE IN US DOLLAR</label>
            <input class="form-control form-control-sm input-sm "
                   type="text"
                   pattern="[0-9]*"
                   name="price"
                    <% if (schedule_option === 'Add') { %>
                   required
                    <% } %>
            />
        </div>

        <div class="form-group">
            <% if (schedule_option === 'Add') { %>
                <% include ./add-button.ejs %>
            <% } else { %>
                <% include ./update-button.ejs %>
            <% } %>
        </div>
</form>

<% include ./lib-url.ejs %>
</body>
</html>
