<!DOCTYPE html>
<html>
    <head>
        <% include ./meta-resources.ejs %>
        <link rel='stylesheet' href='/stylesheets/pg-movie-list.css' />
        <link rel='stylesheet' href='/stylesheets/order-list.css' />
    </head>
    <body>
        <% include ./header.ejs %>
        <form action="<%= PathDict.POST.BUY_TICKETS%>" method="post">
            <div class="mk-buyticket-wrapper container mt-4">
                <h2 class="mk-sub-title">Buy Tickets</h2>
                <% var ticketMovie = schedule.movie;%>
                <% var ticketHall = schedule.theater;%>
                <% var ticketFormat = schedule.format;%>
                <div class="row">
                    <div class="col-auto">
                        <a href="#">
                            <img class="mk-movie-thumb-img" src=<%=ticketMovie.coverImageUrl%>>
                        </a>
                    </div>
                    <div class="mk-order-list-mvinfo-wrapper col-3">
                        <a href="<%=PathDict.GET.MOVIE_DETAILS + "?id=" + ticketMovie.movieId%>"><h3><%= ticketMovie.movieTitle%></h3></a>
                        <div>
                            <p class="mk-movie-review-rating">
                                <% for(let k = 0; k < 5; k++){ %>
                                    <% if(k <= Math.round(ticketMovie.stars)){ %>
                                        <span class="fa fa-star mk-star-filled"></span>
                                    <% } else{%>
                                        <span class="fa fa-star"></span>
                                    <% } %>
                                <% } %>
                            </p>
                        </div>
                        <div>
                            <span><%= ticketMovie.movieDesc %></span>
                        </div>

                    </div>
                    <div class="mk-order-schedule-info-wrapper col-6">
                        <div class="mk-order-schedule-hall-info pl-3">
                            <h3><a href="<%= PathDict.GET.HALL_DETAILS + "?id=" + ticketHall.theaterId%>"><%= ticketHall.theaterName%></a></h3>
                            <span class="mk-text-mute"><%= ticketHall.street + ", " + ticketHall.city.cityName + ", " + ticketHall.city.state + ", " + ticketHall.zipcode%></span>
                        </div>
                        <div class="mk-order-schedule-dt-info pl-3">
                            <p class="mk-order-schedule-dt-line mt-4">
                                <span class="mk-text-mute mk-span">SHOW TIME:</span>
                                <span class="mk-span"><%= schedule.scheduleDate + " " +schedule.showtime%></span>
                                <span class="mk-text-mute mk-span">FORMAT: </span>
                                <span class="mk-span"><%= ticketFormat.formatName%></span>
                                <span class="mk-text-mute mk-span">PRICE: </span>
                                <span class="mk-span" id="ticketPrice"><%= schedule.price%></span>
                            </p>
                        </div>
                        <div class="ml-4 mt-4">
                            <form class="mb-4" method="post", action="<%=PathDict.POST.BUY_TICKETS%>">
                                <div class="row">
                                    <div class="input-group col-4">
                                        <input type="number" required name="ticketNum" class="form-control" id="inputTicketNum" min="0" placeholder="Ticket Number">
                                    </div>
                                    <div class="input-group col-4">
                                        <input type="number" readonly class="form-control" id="totalPrice" placeholder="Total Price">
                                    </div>
                                    <div class="input-group col">
                                        <input type="submit" class="btn btn-dark" value="Buy">
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </form>

        <% include ./lib-url.ejs %>
        <script src="/scripts/buy-tickets.js"></script>
    </body>
</html>
