<!DOCTYPE html>
<html>
    <head>
        <% include ./meta-resources.ejs %>
        <link rel='stylesheet' href='/stylesheets/pg-movie-list.css' />
    </head>
    <body>
        <% include ./header.ejs %>
        
        <div class="container mt-4">
            <h2 class="mk-sub-title">MOVIE TIMES + TICKETS NEAR <%= typeof(locationValue) !== "undefined" ? locationValue : "95112" %></h2>
            <p>FILTER BY: </p>
            <div class="row">
                <div class="input-group mb-3 col">
                    <div class="input-group-prepend">
                        <label class="input-group-text" for="inputPriceFilter">Price (USD)</label>
                    </div>
                    <select class="custom-select" id="inputPriceFilter">
                        <option selected value="0">All</option>
                        <option value="1">0-50</option>
                        <option value="2">50-100</option>
                        <option value="3">More than 100</option>
                    </select>
                </div>
                <div class="input-group mb-3 col">
                    <div class="input-group-prepend">
                        <label class="input-group-text" for="inputRatingFilter">Rating</label>
                    </div>
                    <select class="custom-select" id="inputRatingFilter">
                        <option selected value="0">All</option>
                        <option value="1">One</option>
                        <option value="2">More than two</option>
                        <option value="3">More than three</option>
                        <option value="4">More than four</option>
                        <option value="5">Five</option>
                    </select>
                </div>
                <div col>
                    <button type="button" class="btn btn-dark">Refresh</button>
                </div>
            </div>

            <% if(typeof(halls) === "undefined" || !halls.length > 0) {%>
                <h3>NO SCHEDULES FOR NOW : )</h3>
            <% } else { %>
                <div class="mk-hall-list-wrapper">
                    <ul class="mk-hall-list">
                        <% for(let i = 0 ; i < halls.length; i++) {%>
                        <% var hall = halls[i]; %>
                            <li>
                                <div class="mk-hall-header">
                                    <div class="mk-hall-name-wrapper">
                                        <h3>
                                            <a href="#"><%= hall.theaterName%></a>
                                        </h3>
                                    </div>
                                    <div class="mk-hall-addr-wrapper">
                                        <span class="mk-text-mute"><%= hall.street + " " + hall.zipcode%></span>
                                    </div>
                                </div>
                                <ul class="mk-hall-movies-list">
                                    <% var hallMovies = hall.movies; %>
                                    <% for(let j = 0; j < hallMovies.length; j++) { %>
                                        <% var hallMovie = hallMovies[j]; %>
                                        <li class="row mt-4">
                                            <div class="col-auto">
                                                <a href="#">
                                                    <img class="mk-movie-thumb-img" src=<%=hallMovie.coverImageUrl%>>
                                                </a>
                                            </div>
                                            <div class="mk-hall-list-info-wrapper col-3">
                                                <a href="<%=PathDict.GET.MOVIE_DETAILS + "?id=" + hallMovie.movieId%>"><h3><%= hallMovie.movieTitle%></h3></a>
                                                <div>
                                                    <p class="mk-movie-review-rating">
                                                        <% for(let k = 0; k < 5; k++){ %>
                                                            <% if(k <= Math.round(hallMovie.stars)){ %>
                                                                <span class="fa fa-star mk-star-filled"></span>
                                                            <% } else{%>
                                                                <span class="fa fa-star"></span>
                                                            <% } %>
                                                        <% } %>
                                                    </p>
                                                </div>
                                                <div>
                                                    <% for(let k = 0; k < hallMovie.genres.length; k++) {%>
                                                        <span class="mk-movie-genre-tag"><%= (k===0 ? "" : ", ") + hallMovie.genres[k].genreName %></span>
                                                    <% } %>
                                                </div>

                                            </div>
                                            <div class="mk-hall-schedules-wrapper col-6">
                                                <div><span>Select a movie time to buy Standard Showtimes</span></div>
                                                <div class="mk-hall-schedules-list">
                                                    <ul>
                                                        <% for(let k = 0; k < hallMovie.schedules.length; k++) {%>
                                                            <li>
                                                                <span><%= hallMovie.schedules[k].showtime%></span>
                                                            </li>
                                                        <% }%>
                                                    </ul>
                                                </div>
                                            </div>
                                        </li>
                                    <% }%>
                                </ul>
                            </li>
                        <% } %>
                    </ul>
                </div>
            <% } %>
        </div>

        <% include ./lib-url.ejs %>
    </body>
</html>
