<!DOCTYPE html>
<html>
    <head>
        <% include ./meta-resources.ejs %>
        <link rel='stylesheet' href='/stylesheets/pg-movie-list.css' />
    </head>
    <body>
        <% include ./header.ejs %>
        <% var theater = hallBasicInfo.theater%>
        <div class="container mt-4">
            <h2 class="mk-sub-title"><%=theater.theaterName%></h2>
            <p class="mk-sub-title-desc"><%= theater.street + ", " + theater.city + ", " + theater.state + ", " + theater.zipcode%></p>

            <% if(userInfo.role === Roles.SAD) {%>
                <p>
                    <span class="mk-span mk-text-mute">Hall Revenue:</span>
                    <span class="mk-span"><%= hallBasicInfo.revenue%></span>
                    <span class="mk-span mk-text-mute">Tickets Sold:</span>
                    <span class="mk-span"><%= hallBasicInfo.tickets%></span>
                </p>
                <p>
                    <a href="<%= `${PathDict.GET.EDIT_HALL}?hallID=${theater.theaterId}`%>" class="btn btn-dark">Edit Hall</a>
                </p>
            <% } %>

            <% if(typeof(hallMovies) === "undefined" || !hallMovies.length > 0) {%>
                <h3>NO SCHEDULES FOR NOW : )</h3>
            <% } else { %>
                <div class="mk-hall-list-wrapper">
                    <ul class="mk-hall-movies-list">
                        <% for(let j = 0; j < hallMovies.length; j++) { %>
                            <% var hallMovie = hallMovies[j];%>
                            <% include ./hall-schedule-list-item.ejs %>
                        <% }%>
                    </ul>
                </div>
            <% } %>
            
        </div>

        <% include ./lib-url.ejs %>
    </body>
</html>
