<!DOCTYPE html>
<html>
    <head>
        <% include ./meta-resources.ejs %>
        <link rel='stylesheet' href='/stylesheets/pg-movie-list.css' />
    </head>
    <body>
        <% include ./header.ejs %>
        
        <div class="container mt-4">
            <div class="row">
                <h2 class="mk-sub-title"><%=movie.movieTitle%></h2>
            </div>
            <% include ./movie-dt-subnav.ejs %>
            
        </div>
        <div class="container mt-4">
            <div class="row">
                <div class="mk-movie-dt-wrapper col-4">
                    <div class="mk-movie-dt-cover-wrapper">
                        <img class="mk-movie-dt-cover" src=<%=movie.coverImageUrl%>>
                    </div>
                    <div class="mk-movie-dt-info-wrapper">
                        <p>Release Date</p>
                        <h3><%= movie.releaseDate%></h3>
                        <p><%= movie.mpaaRating%></p>
                        <p><%= movie.length%> mins</p>
                        <p>Stars: <%= movie.stars%></p>
                    </div>
                    <div class="mk-movie-dt-desc-wrapper pt-2">
                        <h4>SYNOPSIS</h4>
                        <p class="mk-movie-dt-desc"><%= movie.movieDesc%></p>
                    </div>
                </div>
                <div class="col-8">
                    <iframe class="mk-dt-trailer-container" src=<%=movie.trailerUrl%>>
                    </iframe>
                </div>
            </div>
            
        </div>

        <% include ./lib-url.ejs %>
    </body>
</html>
