<!DOCTYPE html>
<html>
    <head>
        <% include ./meta-resources.ejs %>
        <link rel='stylesheet' href='/stylesheets/pg-movie-list.css' />
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    </head>
    <body>
        <% include ./header.ejs %>
        
        <div class="container mt-4">
            <div class="row">
                <h2 class="mk-sub-title"><%=movie.movieTitle%></h2>
            </div>
            <% include ./movie-dt-subnav.ejs %>
            
        </div>
        <div class="container mt-4">
            <div class="row">
                <div class="mk-movie-dt-wrapper col-4">
                    <div class="mk-movie-dt-cover-wrapper">
                        <img class="mk-movie-dt-cover" src=<%=movie.coverImageUrl%>>
                    </div>
                    <div class="mk-movie-dt-info-wrapper">
                        <p>Release Date</p>
                        <h3><%= movie.releaseDate%></h3>
                        <p><%= movie.mpaaRating%></p>
                        <p><%= movie.length%> mins</p>
                        <p>Stars: <%= movie.stars%></p>
                        <p class="mk-movie-review-rating">
                            <span class="fa fa-star mk-star-filled"></span>
                            <span class="fa fa-star mk-star-filled"></span>
                            <span class="fa fa-star mk-star-filled"></span>
                            <span class="fa fa-star mk-star-filled"></span>
                            <span class="fa fa-star"></span>
                        </p>
                    </div>
                    <div class="mk-movie-dt-desc-wrapper pt-2">
                        <h3 class="mk-movie-dt-section-title">SYNOPSIS</h3>
                        <p class="mk-movie-dt-desc"><%= movie.movieDesc%></p>
                    </div>
                </div>
                <div class="col-8">
                    <iframe class="mk-dt-trailer-container" src=<%=movie.trailerUrl%>>
                    </iframe>
                </div>
            </div>
            
        </div>

        <% include ./lib-url.ejs %>
    </body>
</html>
