<div class="mk-profile-wrapper">
    <label class="mk-literal-margin">User ID</label>
    <strong><%= userInfo.userId %></strong>
    <div id="mk-profile-edit-btn">
        <a href=<%= PathDict.GET.EDIT_PROFILE%>>
            <button type="submit" class="btn btn-primary btn-sm">Edit</button>
        </a>
        <a href=<%= PathDict.GET.LOGOUT%>>
            <button type="submit" class="btn btn-primary btn-sm">Delete Account</button>
        </a>
    </div>
    <div class="mk-profile-content">
        <div>
            <div class="form-group">
                <label>Account Type</label>
                <input disabled
                       value="<% switch (userInfo.role) {
                                 case Roles.GUEST: %> Guest
                                 <% break;
                                 case Roles.USER: %> User
                                 <% break;
                                 case Roles.HAD: %> Hall Admin
                                 <% break;
                                 case Roles.SAD: %> Super Admin
                                 <% } %>"
                       class="form-control form-control-sm input-sm"/>
            </div>
            <div class="form-group">
                <label>Profile Image</label>
                <div>
                    <img src="http://www.dreams.metroeve.com/wp-content/uploads/2017/06/Head-dreams-meaning.jpg"
                         alt="profile image"
                         class="mk-profile-img"/>
                </div>
            </div>
            <div class="form-group">
                <label>First Name</label>
                <input disabled value="<%= userInfo.firstName %>"
                       class="form-control form-control-sm input-sm"/>
            </div>
            <div class="form-group">
                <label>Last Name</label>
                <input disabled value="<%= userInfo.lastName %>"
                       class="form-control form-control-sm input-sm"/>
            </div>
            <div class="form-group">
                <label>Street</label>
                <input disabled value="<%= userInfo.street %>"
                       class="form-control form-control-sm input-sm"/>
            </div>
            <div class="form-group">
                <label>City</label>
                <input disabled value="<%= userInfo.city %>"
                       class="form-control form-control-sm input-sm"/>
            </div>
            <div class="form-group">
                <label>State</label>
                <input disabled value="<%= userInfo.state %>"
                       class="form-control form-control-sm input-sm"/>
            </div>
            <div class="form-group">
                <label>Zip Code</label>
                <input disabled value="<%= userInfo.zipcode %>"
                       class="form-control form-control-sm input-sm"/>
            </div>
            <div class="form-group">
                <label>Phone Number</label>
                <input disabled value="<%= userInfo.phone %>"
                       class="form-control form-control-sm input-sm"/>
            </div>
            <div class="form-group">
                <label>Email</label>
                <input disabled value="<%= userInfo.email %>"
                       class="form-control form-control-sm input-sm"/>
            </div>
            <div class="form-group mk-theme-nested-border">
                <div>
                <label>Credit Card Details</label>
                </div>
                <label>Card Number</label>
                <input disabled value="<%= userInfo.cardNum %>"
                       class="form-control form-control-sm input-sm"/>
                <label>Expire Date</label>
                <input disabled value="<%= userInfo.cardExpire %>"
                       class="form-control form-control-sm input-sm"/>
                <label>Security Code</label>
                <input disabled value="<%= userInfo.cardCvv %>"
                       class="form-control form-control-sm input-sm"/>
            </div>
        </div>
        <% if (proflie_option === 'edit') { %>
        <% include ./profile-edit.ejs %>
        <% } %>
    </div>
</div>