<div class="mk-profile-wrapper">
    <label class="mk-literal-margin">User ID</label>
    <strong><%= currentUser.userId %></strong>
    <div id="mk-profile-func">
        <% if (profile_option !== 'edit') { %>
            <% if (userInfo.role === Roles.SAD) { %>
            <label class="mk-profile-btn">Edit ID:</label>
            <input name="userId" value="<%= currentUser.userId %>"
                   class="form-control form-control-sm input-sm col-sm-2 mk-profile-btn"
                   id="searchInput"
                   onchange="appendId()"
            >
            <% } %>
        <a id="editTag" href="<%= PathDict.GET.EDIT_PROFILE%>" >
            <button type="submit" class="btn btn-primary btn-sm mk-profile-btn">Edit</button>
        </a>
        <form action="<%= PathDict.GET.PROFILE%>" method="post">
            <a href=<%= PathDict.GET.LOGOUT%>>
                <input type="hidden" name="userId" value="<%= currentUser.userId %>">
                <button type="submit" class="btn btn-primary btn-sm mk-profile-del-btn">Delete Your Account</button>
            </a>
        </form>
        <% } %>
    </div>
    <div class="mk-profile-content">
        <form action="<%= PathDict.GET.EDIT_PROFILE%>" method="POST">
            <div class="form-group mk-form-adjust">
                <label>Account Type</label>
                <select
                        class="form-control form-control-sm input-sm col-sm-6"
                        name="role"
                        <% if (profile_option !== 'edit' || userInfo.role !== Roles.SAD ) { %>
                        disabled
                        <% } %>
                >
                    <option value=0 <% if (currentUser.role === Roles.GUEST) {%> selected <% }%>>GUEST</option>
                    <option value=1 <% if (currentUser.role === Roles.USER) {%> selected <% }%>>USER</option>
                    <option value=2 <% if (currentUser.role === Roles.HAD) {%> selected <% }%>>HAD</option>
                    <option value=3 <% if (currentUser.role === Roles.SAD) {%> selected <% }%>>SAD</option>
                </select>
            </div>

            <div class="form-group bg-dark text-white">
                <img src="<%= currentUser.imageUrl !== null ? currentUser.imageUrl : "/assets/images/medium-default-avatar.png"%>"
                     alt="profile image"
                     class="mk-profile-img"
                     id="mk-image-preview"/>
                <label class="mk-profile-label">
                    <input type="file" id="mk-image-upload"
                            <% if (profile_option !== 'edit') { %>
                            disabled
                            <% } %>
                    />
                    <input type="hidden" name="currentUser" value="<%= JSON.stringify(currentUser)%>"/>
                    Select Image
                </label>
            </div>

            <div class="form-group">
                <label>Image URL</label>
                <input type="text"
                       class="form-control form-control-sm input-sm"
                       id="mk-image-url"
                       name="imageUrl"
                       value="<%= currentUser.imageUrl%>"
                        <% if (profile_option !== 'edit') { %>
                       disabled
                        <% } %>
                />
            </div>

            <div class="form-group">
                <label>First Name</label>
                <input type="text"
                       class="form-control form-control-sm input-sm"
                       pattern="^([^0-9]*)$"
                       title="Must not contain number"
                       value="<%= currentUser.firstName%>"
                       name="firstName"
                        <% if (profile_option !== 'edit') { %>
                       disabled
                        <% } %>
                />
            </div>

            <div class="form-group">
                <label>Last Name</label>
                <input type="text"
                       class="form-control form-control-sm input-sm"
                       pattern="^([^0-9]*)$"
                       title="Must not contain number"
                       value="<%= currentUser.lastName%>"
                       name="lastName"
                        <% if (profile_option !== 'edit') { %>
                       disabled
                        <% } %>
                />
            </div>

            <div class="form-group">
                <label>Street</label>
                <input type="text"
                       class="form-control form-control-sm input-sm"
                       value="<%= currentUser.street%>"
                       name="street"
                        <% if (profile_option !== 'edit') { %>
                       disabled
                        <% } %>
                />
            </div>

            <div class="form-group">
                <label>City</label>
                <input type="text"
                       class="form-control form-control-sm input-sm"
                       pattern="^([^0-9]*)$"
                       title="Must not contain number"
                       value="<%= currentUser.city%>"
                       name="city"
                        <% if (profile_option !== 'edit') { %>
                       disabled
                        <% } %>
                />
            </div>

            <div class="form-group">
                <label>State</label>
                <input type="text"
                       class="form-control form-control-sm input-sm"
                       pattern="[A-Z]{2}"
                       title="Must not contain exactly 2 uppercase letters"
                       value="<%= currentUser.state%>"
                       name="state"
                        <% if (profile_option !== 'edit') { %>
                       disabled
                        <% } %>
                />
            </div>

            <div class="form-group">
                <label>Zip Code</label>
                <input type="text"
                       class="form-control form-control-sm input-sm"
                       pattern="[0-9]{5}"
                       title="Must input exactly 5 digits zip code"
                       value="<%= currentUser.zipcode%>"
                       name="zipcode"
                        <% if (profile_option !== 'edit') { %>
                       disabled
                        <% } %>
                />
            </div>

            <div class="form-group">
                <label>Phone Number</label>
                <input type="tel"
                       class="form-control form-control-sm input-sm"
                       pattern="[0-9]{3}-[0-9]{3}-[0-9]{4}"
                       title="Must input phone number as pattern xxx-xxx-xxxx"
                       value="<%= currentUser.phone%>"
                       name="phone"
                        <% if (profile_option !== 'edit') { %>
                       disabled
                        <% } %>
                />
            </div>

            <div class="form-group">
                <label>Email</label>
                <input type="email"
                       class="form-control form-control-sm input-sm" placeholder="xx@xxx.xxx"
                       pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$"
                       value="<%= currentUser.email%>"
                       name="email"
                        <% if (profile_option !== 'edit') { %>
                       disabled
                        <% } %>
                />
            </div>

            <div class="form-group mk-theme-nested-border">
                <div>
                    <label>Credit Card Details</label>
                </div>

                <label>Card Number</label>
                <input type="text" class="form-control form-control-sm input-sm"
                       pattern="[0-9]{4} [0-9]{4} [0-9]{4} [0-9]{4}"
                       title="must have xxxx xxxx xxxx xxxx"
                       value="<%= currentUser.cardNum%>"
                       name="cardNum"
                        <% if (profile_option !== 'edit') { %>
                       disabled
                        <% } %>
                />

                <label>Expire Date</label>
                <input type="date" class="form-control form-control-sm input-sm"
                       title="must have MM/DD/YYYY"
                       pattern="(0[1-9]|1[012])[- /.](0[1-9]|[12][0-9]|3[01])[- /.](19|20)\d\d"
                       value="<%= currentUser.cardExpire%>"
                       name="cardExpire"
                        <% if (profile_option !== 'edit') { %>
                       disabled
                        <% } %>
                />

                <label>Security Code</label>
                <input type="text" class="form-control form-control-sm input-sm"
                       pattern="[0-9]{3}"
                       title="must have 3 digits security code"
                       value="<%= currentUser.cardCvv%>"
                       name="cardCvv"
                        <% if (profile_option !== 'edit') { %>
                       disabled
                        <% } %>
                />
            </div>
            <% if (profile_option === 'edit') { %>
            <div class="form-group">
                <button type="submit" class="btn btn-primary btn-sm">Update</button>
                <a href="<%= PathDict.GET.PROFILE%>">
                    <button type="button" class="btn btn-primary btn-sm">Cancel</button>
                </a>
            </div>
            <% } %>
            <script src="/scripts/profile-edit.js"></script>
        </form>
    </div>
</div>